{% extends 'base/admin.html' %}

{% block title %}
{{ product.name }}
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Detalles del producto</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>Id:</strong> {{ product.id }}</li>
          <li class="list-group-item"><strong>Nombre:</strong> {{ product.name }}</li>
          <li class="list-group-item"><strong>Decripción:</strong> {{ product.description }}</li>
          <li class="list-group-item"><strong>Campaña:</strong> {{ product.campaign }}</li>
          <li class="list-group-item"><strong>Genero:</strong> {{ product.gender }}</li>
          <li class="list-group-item"><strong>Categoría:</strong> {{ product.category }}</li>
          <li class="list-group-item"><strong>Talla:</strong> {{ product.size }}</li>
          <li class="list-group-item"><strong>Precio (Unidad):</strong> {{ product.price }}</li>
          <li class="list-group-item"><strong>Estatus:</strong> {{ product.status }}</li>
          <li class="list-group-item"><strong>Stock:</strong> {{ product.stock }}</li>
        </ul>
      </div>
        <div class="col-md-6">
          <img src="{{ product.imagen1.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        
      </div>
  
        <br>

    <a href="{% url 'core:product' %}" class="btn btn-link">Volver</a>   
  </div>
{% endblock content %}
