{% extends 'base/principal.html' %}

 {% load static %} 

 {% block title %}Nosotros
| BELLE D' LUXE{% endblock title %}

{% block content %}

<style>

  #btn1{
  background-color: #000000;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5%;
  margin-top: 4%;
  cursor: pointer;
  border-radius: 30px;
  }

</style>


<link rel="stylesheet" type="text/css" href="{% static 'infocss/styletext.css' %}">

  <h1 id="titulonosotros">ACERCA DE NUESTRA MARCA</h1>

<hr>

  
  

  <div class="grid-container">

    <div style="background-color:#FFF;">
      <p id="textonosotros" >
        
        La empresa Rubis Collection BELLE D' LUXE es una marca de moda y Ropa de lujo para hombre y mujer. que se originó dentro 

        del Rubis Collection empresa fundada por el equipo comprometido: Xahil Álvarez, Julio Barrón Quintana, Karime Pulido and 

        Itzel Ruiz Pacheco. Nuestros valores fundamentales incluyen el respeto, la responsabilidad, igualdad, compromiso, calidad, 

        empatía y libertad. Respetamos a cada individuo en todos los aspectos, asumimos la responsabilidad en todas nuestras 

        acciones promovemos la igualdad y la diversidad. Nosotros estamos comprometidos a ofrecer lo mejor en un ambiente positivo, 

        valoramos la calidad y empatía en nuestro servicio al cliente y permitimos libertad creativa de nuestro equipo, consiguiendo 
        
        nuestros objetivos profesionales.
      </p>
    </div>
    
    <div style="background-color:#FFF;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>s
      <img id="columna" src="{% static 'imagenes/LOGODEBELLEDLUXE.png' %}" alt=" " />

    </div>
    </div>


    <div>
        
<br>
<br>
<br>
<br>


<div id="down">

<div id="m-v-f" style="background-color:#FFF;">
  <h2>Misión</h2>
  <br>
  
  <p>
Su misión es innovar en moda de forma sostenible, sin provocar daños al medio ambiente natural. BELLE D' LUXE ofrece prendas que no solo lucen bien pero también crear una sensación de comodidad, seguridad y confianza.
</p>
<br>
</div>

<div id="m-v-f" style="background-color:#FFF;">
  <h2>Visión</h2>
  <br>
  <p>
 En cuanto a nuestra visión, aspiramos a ser un referente en el industria, desafiando la diversidad y promoviéndola. igualdad. 
 <br>
 <br>
 <br>
 <br>
 </p>
</div>

<div id="m-v-f"style="background-color: #FFF;">
  <h2>Filosofia</h2>
  <br>
  <p>
 El lujo no se trata de adquirir prendas de alto valor, sino de la interpretación hacia la comodidad y confianza en cada pieza que ofrecemos. Buscan crear una belleza única e incondicional en cada persona, haciendo de sus clientes, se sienten realmente especiales.
 </p>
</div>

</div>
<center><a id="btn1" href="{% url 'home:inicio'%}" class="btn btn-info" role="button">Regresar</a></center>

  {% endblock content %}
