{% extends "base/admin.html" %}
{% block title %}Admin clientes{% endblock title %}
{% block content %}
<title>Admin Clientes</title>

<br> 
<center><h2>Clientes</h2></center>
<br> 
<hr>


   <table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Nombre del usuario</th>
        <th>Nombre</th>
        <th></th>
        <th>Acciones</th>
        <th></th>
    </thead>
      
       <tbody>
    
           {% for i in customer %}
           </tr>
           <td>{{ i.id }}</td>
           <td>{{ i.user }}</td>
           <td>{{ i.name_first }}</td>
           <td><a href="{% url 'core:detail_customer' i.id %}" class="btn btn-outline-info">Detalles</a></td>
           <td><a href="{% url 'core:update_customer' i.id %}" class="btn btn-outline-warning">Actualizar</a></td>
           <td><a href="{% url 'core:delete_customer' i.id %}" class="btn btn-outline-danger">Borrar</a></td>
          
          
           </tr>
           {% endfor %}
          
       </tbody>
    
   </table>
  
{% endblock content %}
