{% extends 'base/admin.html' %}

{% block title %}
Borrar cliente
{% endblock title %}

{% block content %}
<br>
<br>
    <form action="" method="post">
        {% csrf_token %}
            <h4>Borrar cliente</h4>
            <p>¿Realmente deseas borrar a : {{ object.name_first }} ? </p>
            <button type="submit" class="btn btn-danger">Borrar cliente</button>
            <a href="{% url 'core:customer' %}" class="btn btn-warning">Cancelar</a>
    </form>
{% endblock content %}   