{% extends 'base/admin.html' %}

{% block title %}
Detalles del cliente
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Detalles del cliente</h2>
        <ul class="list-group">
          <li class="list-group-item"><strong>ID: </strong> {{ customer.id }}</li>
          <li class="list-group-item"><strong>Nombre: </strong> {{ customer.name_first }}</li>
          <li class="list-group-item"><strong>Primer Apellido: </strong> {{ customer.last_name_pat }}</li>
          {% if customer.last_name_mat %}
          <li class="list-group-item"><strong>Segundo Apellido: </strong> {{ customer.last_name_mat }}</li>
          {% endif %}
          <li class="list-group-item"><strong>Número de celular: </strong> {{ customer.phone }}</li>
          <li class="list-group-item"><strong>Código postal: </strong> {{ customer.cp }}</li>
          <li class="list-group-item"><strong>Calle: </strong> {{ customer.streat }}</li>
          <li class="list-group-item"><strong>Número de casa: </strong> {{ customer.number_home }}</li>


        </ul>
      </div>
    </div>
    <a href="{% url 'core:customer' %}" class="btn btn-link">Volver</a>
  </div>
{% endblock content %}
