{% extends "base/admin.html" %}
{% block title %}Admin campañas{% endblock title %}
{% block content %}
<title>Admin campañas</title>
<br> 
<center><h2>Campañas</h2></center>
<br> 
<hr>
<a href="{% url 'core:Newcampaign' %}" class="btn btn-outline-success form-control">Crear una campaña</a>

   <table class="table table-striped">
       <thead>
           <th>ID</th>
           <th>Nombre</th>
           <th></th>
           <th>Acciones</th>
           <th></th>
       </thead>
      
       <tbody>
    
           {% for campaign in campaign %}
           </tr>
           <td>{{ campaign.id }}</td>
           <td>{{ campaign.name }}</td>
           <td><a href="{% url 'core:detail_campaign' campaign.id %}" class="btn btn-outline-info">Detalles</a></td>
           <td><a href="{% url 'core:update_campaign' campaign.id %}" class="btn btn-outline-warning">Actualizar</a></td>
           <td><a href="{% url 'core:delete_campaign' campaign.id %}" class="btn btn-outline-danger">Borrar</a></td>
           </tr>
           {% endfor %}
          
       </tbody>
    
   </table>
  
{% endblock content %}
