{% extends "base/catalogo.html" %} 
{% block title %} Tienda {% endblock title %} 
{% block content %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tienda</title>
  <!-- L I N K    TO    C S S   -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- B O X   I C O N S    -->
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <!-- H E A D E R -->
  <header>
    <!--N A V -->
    <div class="nav container">
      <a href="#" class="logo">BELLE D' LUXE</a>
      <!--C A R T-I C O N -->
      <i class="bx bx-shopping-bag" id="cart-icon"></i>
      <!--C A R T-->
      <div class="cart">
        <h2 class="cart-title">Carrito</h2>
        <!--C O N T E N T -->
        <body>

          <ul>
            <li><a class="active" href="#home">Inicio</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          </body>
        <div class="cart-content">
          <div class="cart-box">
            <img src="imagenes/vestidorosa.jpeg" alt="" class="cart-img" />
            <div class="detail-box">
              <div class="cart-product-title">Vestidos</div>
              <div class="cart-price">$5000</div>
              <input type="number" value="1" class="cart-quantity" />
            </div>
            <!--R E M O V E   C A R T-->
            <i class="bx bxs-trash-alt cart-remove"></i>
          </div>
        </div>
        <!--T O T A L -->
        <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">$100</div>
        </div>
        <!--P A Y -->
        <button type="button" class="btn-buy">Pay now</button>
        <!--C A R T   C L O S E-->
        <i class="bx bx-x" id="close-cart"></i>
      </div>
    </div>
  </header>
  <!-- B A R R A  D E  N A V E G A C I O N -->

  <nav id="navegador" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="{% url 'home:inicio' %}" class = navbar-brand> <img src="{% static 'imagenes/imagenestienda/mujertienda/conjunto1.jpg' %}" alt="" weight="80px" height="40px"></a>    
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>          

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item" ><a class="nav-link active" aria-current="page" href="{% url 'tienda:hombre' %}">TIENDA</a></li>
            </ul>                
        </div>
    </div>
  </nav>


  <!-- S H O P -->
  <section class="shop container">
    <h2 class="section-title">Shop Products</h2>
    <!--C O N T E N T -->
    <div class="shop-content">
      <!--  B O X 1 -->
      <div class="product-box">
        <img src="imagenes/vestidocarrusel1.jpeg" alt="" class="product-img" />
        <h2 class="product-title">VESTIDO ROSA</h2>
        <span class="price">$5000 mx</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <!--  B O X 2 -->
      <div class="product-box">
        <img src="imagenes/vestidorosa.jpeg" alt="" class="product-img" />
        <h2 class="product-title">VESTIDO ROSA</h2>
        <span class="price">$5000 mx</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <!--  B O X 3 -->
      <div class="product-box">
        <img src="imagenes/vestidorosa.jpeg" alt="" class="product-img" />
        <h2 class="product-title">VESTIDO ROSA</h2>
        <span class="price">$5000 mx</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <!--  B O X 4 -->
      <div class="product-box">
        <img src="imagenes/vestidorosa.jpeg" alt="" class="product-img" />
        <h2 class="product-title">VESTIDO ROSA</h2>
        <span class="price">$5000 mx</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <!--  B O X 5 -->
      <div class="product-box">
        <img src="imagenes/vestidorosa.jpeg" alt="" class="product-img" />
        <h2 class="product-title">VESTIDO ROSA</h2>
        <span class="price">$5000 mx</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <!--  B O X 6 -->
      <div class="product-box">
        <img src="imagenes/vestidorosa.jpeg" alt="" class="product-img" />
        <h2 class="product-title">VESTIDO ROSA</h2>
        <span class="price">$5000 mx</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <!--  B O X 7 -->
      <div class="product-box">
        <img src="imagenes/vestidorosa.jpeg" alt="" class="product-img" />
        <h2 class="product-title">VESTIDO ROSA</h2>
        <span class="price">$5000 mx</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
      <!--  B O X 8 -->
      <div class="product-box">
        <img src="imagenes/vestidorosa.jpeg" alt="" class="product-img" />
        <h2 class="product-title">VESTIDO ROSA</h2>
        <span class="price">$5000 mx</span>
        <i class="bx bx-shopping-bag add-cart"></i>
      </div>
    </div>
  </section>
  <!-- L I N K to J S -->
  <script src="javascript/main.js"></script>
</body>
{% endblock content %}