{% extends "base/base.html" %}
{% load static %}
{% block title %}Tienda{% endblock title %}
{% block content %}


   <!-- L I N K    TO    C S S   --> 
   <link rel="stylesheet" href="{% static 'itcss/styletienda.css' %}">
   <!-- B O X   I C O N S    -->
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- H E A D E R -->
    <style>
      .product-box a {
          text-decoration: none; /* Quitar subrayado */
          color: black; /* Color del texto en negro */
      }
  </style>
    <!-- S H O P --> 
    <section class="shop container">
       <!--Barra de navegacion -->        
        <!--C O N T E N T -->
        <div class="shop-content">
            <!--  B O X -->
            {% for product in products %}
            <div class="product-box">
              <a href="{% url 'tienda:producto' product.id %}" class="product-link" >
                <img src="{{ product.imagen1.url }}" alt="{{ product.name }}" class="product-img">
                <h2 class="product-title">{{ product.name }} </h2>
                <span class="price">{{ product.price }}$</span>
                
                  <i class='bx bx-shopping-bag add-cart'></i>
                </a>
                
            </div>
            {% endfor %}
        </div>
       </section>
    <!-- L I N K to J S -->
    <script src="{%static 'javascript/main.js' %}"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>

{% endblock content %}



